@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: black;
}

html {
    background-color: #3b191f;
}


h1 {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 85px;
}

p, button {
    font-size: 25px;
}

button {
    background: rgb(223 235 255);
    color: grey;;
    padding: 1.0rem;
    border: none;
    box-shadow: 3px 3px 3px grey;
    margin: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background: rgb(210, 221, 240);
    color: grey;
}



.card-deck {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    padding-top: 0;
}

.card {
    border-radius: 5px; /* Rounded corners */
    width: 70px; /* Fixed width */
    height: 120px; /* Fixed height */
    box-shadow: 5px 3px 1px rgb(0 0 0 / 41%);
    display: inline-flex;
    cursor: pointer;
    background-image: url('./images/card-back-small.jpg');
    background-size: cover;
    transition-property: all;
    transition-duration: 0.2s;
    margin: 1rem -1.5rem;
    z-index: 0; /* Explicitly set z-index to avoid z-index shifts with hover event */
}
.card:hover {
    transform: translate(-5px, 20px);
}

#current-question-asked {
    margin: 0 auto;
    display: flex;
    font-size: 50px;
}

#global-elements {
    padding-bottom: 0;
}


#currently-selected-card-text {
    font-size: 46px;
    margin: 0;
}

#currently-selected-card-image {
    width: 31%;
    height: 100%;
    margin: 0rem;
    display: inline-flex;
    margin-right: 2rem;
    box-shadow: 1px 4px 20px 0px grey;
}

.reversed {
    transform: rotate(180deg);
    transition-duration: 2.0s;
    transition-property: transform;
}

section.panel{
    display: flex;
    max-width: 60rem;
    margin: auto auto;
    padding: 2rem;
    background: #d3c8c8;
}