@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: "VT323", monospace;
    color: #1a1875;
    font-size: 22px;
}

html {
    background-color: #3b191f;
    background-image: url(/images/background-2-pixelated.gif);
    background-size: cover;
    image-rendering: pixelated;
}

main {
    margin-top: 2rem;
}

h1{
    font-family: "Jacquard 24", system-ui;
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 0;
    color: purple;
}

h2 {
    font-size: 30px;
}


button {
    background: rgb(105 28 99);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: 3px 3px 3px #2b4e63;
    margin: 0.5rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;

}
button:hover {
    background: rgb(138, 38, 129);
}
button:active {
    transform: translate(3px, 3px);
}


.card-deck {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

.card {
    width: 50px;
    height: 88px;
    cursor: pointer;
    background-image: url(/images/card-back-small.jpg);
    background-size: cover;
    transition-property: all;
    transition-duration: 0.2s;
    margin: 0.75rem -0.8rem;
    z-index: 0; /* Explicitly set z-index to avoid z-index shifts with hover event */
}
.card:hover {
    transform: translate(-20px, 25px);
    box-shadow: 5px 3px 7px rgba(68, 61, 61, 0.377);
}

.center {
    text-align: center;
}


p {
    text-align: left;
}

.reversed {
    transform: rotate(180deg);
    transition-duration: 0s;
    transition-property: transform;
}

.panel{
    display: flex;
    max-width: 40rem;
    margin: auto auto;
    padding: 2rem;
    position: relative;
    column-gap: 2rem;
    align-items: flex-start;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Border-image_generator */
    border-image-slice: 19 15 16 15 fill;
    border-image-width: 10px 10px 10px 10px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: url(/images/border-image-texture.png);
    border-style: solid;
}

#tarot-reader-person {
    min-width: 50%;
}

/* media query that makes .panel flex-direction column when screen width is less than 800px */
@media (max-width: 900px) {
    .panel {
        flex-direction: column;
    }

    #tarot-reader-person {
        margin: auto; /* center */
        width: 50%;
    }
}

#card-reveal-layout-container {
    display: flex; 
    flex-direction: row;
}
@media (max-width: 900px) {
    #card-reveal-layout-container {
        flex-direction: column;
    }
}


.current-question-asked {
    margin: auto auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
}

#global-elements {
    padding-top: 2rem;
    padding-bottom: 0;
}


#currently-selected-card-text {
    font-size: 30px;
    margin: 0;
}

#currently-selected-card-image {
    width: 240px;
    height: 100%;
    margin: 0rem;
    display: inline-flex;
    margin-right: 2rem;
    box-shadow: 1px 4px 20px 0px grey;
}
@media (max-width: 900px) {
    #currently-selected-card-image {
        margin: 1rem auto;
    }
}


#step-advice-selection {
    text-align: center;
}

#shuffle-count-text {
    font-size: 150px;
}

#play-pause-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

#card-shuffling-video {
    max-width: 100%;
}

